.DS_Store
Microsoft\\VisualStudio Services/
configstore/
flutter/
gatsby/
gh/
github-copilot/
NuGet/
raycast/
xbuild/
QtProject/
vscode-react-native/
iterm2/
filezilla/
uv/
spotatui/
# Text editor
zed/*
!zed/settings.json
!zed/keymap.json
# Own repo in https://github.com/lecav30/nvim/tree/macos
nvim/
